---
layout: archive
---

I am a research intern at the Computer Vision and Robotics team of UII America in Cambridge, MA. Before coming to UII,
I worked at SenseTime, Beijing, focusing on the face forgery.

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].researches | default: "Researches" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<html>
<head>
<style>
img { 
  width: 100%; 
}
</style>
</head>
<body>

<img src="rgbd.png" alt="HTML5 Icon" width="128" height="128">
</body>
</html>

<table width="100%" border="0">
  <tbody>
  <tr>
    <td width="30%"><img width="300" height="180" src="https://liren2515.github.io/page/_layouts/rgbd.png"></td>
  <td width="4%"> </td>
    <td width="66%"><p class="papertext"> <b>Towards Robust RGB-D Human Mesh Recovery
</b> <br>
	Ren Li*, <a href="https://www.changjiangcai.com/">Changjiang Cai</a>, <a href="https://cs.gmu.edu/~ggeorgak/">Georgios Georgakis</a>, <a href="https://karanams.github.io/">Srikrishna Karanam</a>, Terrence Chen, and <a href="http://wuziyan.com/">Ziyan Wu</a> <br>
	<a>arXiv:1911.07383</a> <br>
	 [<a href="https://arxiv.org/pdf/1911.07383.pdf">pdf</a>]</p></td> 
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tbody></table>
